<!DOCTYPE html>
<html>
  <head>
    <title>Kanbask - Password Reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      /* Base */
      * {
        box-sizing: border-box;
        font-family: serif;
      }
      body {
        min-width: 100%;
        font-size: 16px;
        line-height: 1.5;
        background-color: #fafafa;
        color: #222222;
      }
      a {
        color: #000;
        text-decoration: none;
      }
      h1 {
        font-size: 28px;
        font-weight: 700;
        margin: 0;
        text-align: center;
      }
      p {
        margin-top: 12px 0;
      }
      table td {
        vertical-align: top;
      }
      /* Layout */
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
        border: 1px solid #eaeaea;
        border-radius: 12px;
      }
      .email-header {
        background-color: #3d83f6;
        padding: 12px 24px;
        color: #ffffff;
        border-radius: 12px 12px 0 0;
      }
      .email-body {
        padding: 12px 24px;
        background-color: #ffffff;
      }
      .email-footer {
        padding: 12px 12px;
        background-color: #f6f6f6;
        border-radius: 0 0 12px 12px;
        text-align: center;
      }
      .email-footer p {
        margin: 0;
      }
      .reset-btn {
        display: block;
        background-color: #3d83f6;
        min-width: 200px;
        margin: 24px auto;
        padding: 0;
        border: none;
        border-radius: 12px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
      }
      .reset-btn > a {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 12px 24px;
        border-radius: 12px;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <h1>Forgot your password</h1>
      </div>
      <div class="email-body">
        <p>Hi <b><%= user.name %></b>,</p>
        <p>We're sending you this mail because you requested a password reset.</p>
        <p>
          Click on the below button to create a new password for your account. This request will
          expire after <b>10 minutes</b>.
        </p>
        <button class="reset-btn">
          <a href="<%= passwordResetUrl %>">Reset my password</a>
        </button>
        <p>or the link here: <b><%= passwordResetUrl %></b></p>
        <p>
          If you did not forgot your password, you can safely ignore this email. Your password will
          not be changed.
        </p>
      </div>
      <div class="email-footer">
        <p>If you have any questions, please don't hesitate to contact us at:</p>
        <a href="mailto:kanbask.tech@gmail.com">kanbask.tech@gmail.com</a>
      </div>
    </div>
  </body>
</html>
